.container {
  width: 100vw;
  height: 100vh;
}

.contact-wrapper {
  min-height: 100vh;
  background: url('/assets/event.jpg')
    no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card {
  background: white;
  padding: 30px;
  width: 800px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.contact-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-content {
  display: flex;
  gap: 30px;
}

.contact-form,
.contact-info {
  width: 50%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-form button {
  background: purple;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-info p {
  font-size: 14px;
  margin-bottom: 8px;
}

.social-icons span {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
